<!-- SECTION START -->
<section class="block-section">
  <div class="container">
    <h2 data-i18n="block-section.heading"></h2>

    <div class="block-wrapper">
      <!-- BLOCK 1 -->
      <div class="block">
        <!-- BLOCK TEXT -->
        <div class="block__text">
          <h3 data-i18n="block-section.block-1.heading"></h3>

          <p data-i18n="block-section.block-1.text"></p>

          <a href="#" class="btn" data-i18n="block-section.block-1.btn-alt" data-i18n-attr="aria-label">
            <span data-i18n="btn.text"></span>
            <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>

        <!-- BLOCK IMAGE -->
        <div class="block__image">
          <img src="assets/images/block-1.jpg" alt="" />
        </div>
      </div>

      <!-- BLOCK 2 -->
      <div class="block">
        <!-- BLOCK TEXT -->
        <div class="block__text">
          <h3 data-i18n="block-section.block-2.heading"></h3>

          <p data-i18n="block-section.block-2.text"></p>

          <a href="#" class="btn" data-i18n="block-section.block-2.btn-alt" data-i18n-attr="aria-label">
            <span data-i18n="btn.text"></span>
            <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>

        <!-- BLOCK IMAGE -->
        <div class="block__image">
          <img src="assets/images/block-2.jpg" alt="" />
        </div>
      </div>

      <!-- BLOCK 3 -->
      <div class="block">
        <!-- BLOCK TEXT -->
        <div class="block__text">
          <h3 data-i18n="block-section.block-3.heading"></h3>

          <p data-i18n="block-section.block-3.text"></p>

          <a href="#" class="btn" data-i18n="block-section.block-3.btn-alt" data-i18n-attr="aria-label">
            <span data-i18n="btn.text"></span>
            <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>

        <!-- BLOCK IMAGE -->
        <div class="block__image">
          <img src="assets/images/block-3.jpg" alt="" />
        </div>
      </div>

      <!-- BLOCK 4 -->
      <div class="block">
        <!-- BLOCK TEXT -->
        <div class="block__text">
          <h3 data-i18n="block-section.block-4.heading"></h3>

          <p data-i18n="block-section.block-4.text"></p>

          <a href="#" class="btn" data-i18n="block-section.block-4.btn-alt" data-i18n-attr="aria-label">
            <span data-i18n="btn.text"></span>
            <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>

        <!-- BLOCK IMAGE -->
        <div class="block__image">
          <img src="assets/images/block-4.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SECTION END -->
