<!-- SECTION START -->
<section class="slider-section">
  <div class="container">
    <h2 data-i18n="slider-section.heading"></h2>

    <!-- SLIDER -->
    <ip-slider-sl-1
      class="slider"
      slide-title="Slider Title"
      slide-gap="30"
      is-slide-bullet="true"
      is-previous-next-navigation="true"
      item-to-show="2"
      previous-btn-aria="Afficher les diapos précédentes"
      next-btn-aria="Afficher les diapos suivantes"
      bullet-btn-aria="Afficher les diapos"
      bullet-btn-aria-to="à"
    >
      <div class="slider__wrapper" slot="slide-1">
        <a href="#" data-i18n="slider-section.slide-1.btn-alt" data-i18n-attr="aria-label">
          <img src="assets/icons/slide-1-icon.svg" alt="" class="slider__wrapper__icon" aria-hidden="true" />

          <div class="slider__wrapper__text">
            <h3 data-i18n="slider-section.slide-1.heading"></h3>

            <p data-i18n="slider-section.slide-1.text"></p>

            <span class="slider__wrapper__text__link" data-i18n="btn.text" data-i18n-attr="innerHTML"></span>
          </div>
        </a>
      </div>

      <div class="slider__wrapper" slot="slide-2">
        <a href="#" data-i18n="slider-section.slide-2.btn-alt" data-i18n-attr="aria-label">
          <img src="assets/icons/slide-2-icon.svg" alt="" class="slider__wrapper__icon" aria-hidden="true" />

          <div class="slider__wrapper__text">
            <h3 data-i18n="slider-section.slide-2.heading"></h3>

            <p data-i18n="slider-section.slide-2.text"></p>

            <span class="slider__wrapper__text__link" data-i18n="btn.text" data-i18n-attr="innerHTML"></span>
          </div>
        </a>
      </div>

      <div class="slider__wrapper" slot="slide-3">
        <a href="#" data-i18n="slider-section.slide-3.btn-alt" data-i18n-attr="aria-label">
          <img src="assets/icons/slide-3-icon.svg" alt="" class="slider__wrapper__icon" aria-hidden="true" />

          <div class="slider__wrapper__text">
            <h3 data-i18n="slider-section.slide-3.heading"></h3>

            <p data-i18n="slider-section.slide-3.text"></p>

            <span class="slider__wrapper__text__link" data-i18n="btn.text" data-i18n-attr="innerHTML"></span>
          </div>
        </a>
      </div>

      <div class="slider__wrapper" slot="slide-4">
        <a href="#" data-i18n="slider-section.slide-4.btn-alt" data-i18n-attr="aria-label">
          <img src="assets/icons/slide-4-icon.svg" alt="" class="slider__wrapper__icon" aria-hidden="true" />

          <div class="slider__wrapper__text">
            <h3 data-i18n="slider-section.slide-4.heading"></h3>

            <p data-i18n="slider-section.slide-4.text"></p>

            <span class="slider__wrapper__text__link" data-i18n="btn.text" data-i18n-attr="innerHTML"></span>
          </div>
        </a>
      </div>

      <div class="slider__wrapper" slot="slide-5">
        <a href="#" data-i18n="slider-section.slide-5.btn-alt" data-i18n-attr="aria-label">
          <img src="assets/icons/slide-5-icon.svg" alt="" class="slider__wrapper__icon" aria-hidden="true" />

          <div class="slider__wrapper__text">
            <h3 data-i18n="slider-section.slide-5.heading"></h3>

            <p data-i18n="slider-section.slide-5.text"></p>

            <span class="slider__wrapper__text__link" data-i18n="btn.text" data-i18n-attr="innerHTML"></span>
          </div>
        </a>
      </div>
    </ip-slider-sl-1>
  </div>
</section>
<!-- SECTION END -->
