<!-- FOOTER START -->
<footer role="contentinfo">
  <div class="container">
    <!-- LOGO -->
    <a href="#" class="logo" data-i18n="logo.alt" data-i18n-attr="aria-label">
      <img src="assets/images/Oceanus.svg" alt="" />
      <span class="logo__name" data-i18n="logo.slogan"></span>
    </a>

    <!-- SOCIALS MOBILE -->
    <ul class="socials socials-mobile">
      <li class="social">
        <a href="https://www.twitter.com" target="_blank" rel="noopener" data-i18n-attr="aria-label" data-i18n="navigation.social.twitter.alt">
          <i class="fa-brands fa-twitter" aria-hidden="true"></i>
        </a>
      </li>

      <li class="social">
        <a href="https://www.linkedin.com" target="_blank" rel="noopener" data-i18n-attr="aria-label" data-i18n="navigation.social.linkedin.alt">
          <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
        </a>
      </li>

      <li class="social">
        <a href="https://www.instagram.com" target="_blank" rel="noopener" data-i18n-attr="aria-label" data-i18n="navigation.social.instagram.alt">
          <i class="fa-brands fa-instagram" aria-hidden="true"></i>
        </a>
      </li>

      <li class="social">
        <a href="https://www.youtube.com" target="_blank" rel="noopener" data-i18n-attr="aria-label" data-i18n="navigation.social.youtube.alt">
          <i class="fa-brands fa-youtube" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

    <!-- INFO -->
    <p>
      Document e&#8209;accessible
      <span class="separator" aria-hidden="true">|</span>
      <a href="https://www.ipedis.com" data-i18n="footer.link.alt" data-i18n-attr="aria-label" target="_blank" rel="noopener">PubliSpeak.com</a>
    </p>
  </div>
</footer>
<!-- FOOTER END -->
