<!-- LOGO -->

<!-- HEADER START -->
<header class="header" role="banner">
  <div class="container">
    <div class="header__left" id="lp-content">
      <h1 data-i18n="header.heading"></h1>

      <!-- LINKS -->
      <ul class="links">
        <li class="link">
          <a href="#" class="btn btn-primary" data-i18n="header.btn-1.alt" data-i18n-attr="aria-label">
            <span data-i18n="header.btn-1.text"></span>
            <i aria-hidden="true" class="fa-regular fa-eye"></i>
          </a>
        </li>

        <li class="link">
          <a href="assets/files/sample.pdf" download class="btn btn-primary" data-i18n="header.btn-2.alt" data-i18n-attr="aria-label">
            <span data-i18n="header.btn-2.text"></span>
            <img src="assets/icons/DownloadSimple.svg" aria-hidden="true" alt="" />
          </a>
        </li>
      </ul>

      <!-- ACCESSIBILTY -->
      <div class="accessibility">
        <p>Document e&#8209;accessible</p>

        <div class="icons">
          <img src="assets/icons/Group-2.png" data-i18n="accessiblity.icon-1.alt" data-i18n-attr="alt" alt="" />

          <img src="assets/icons/Group.png" data-i18n="accessiblity.icon-2.alt" data-i18n-attr="alt" alt="" />

          <img src="assets/icons/eye-accessible.svg" data-i18n="accessiblity.icon-3.alt" data-i18n-attr="alt" alt="" />
        </div>
      </div>
    </div>

    <div class="header__right">
      <img src="assets/images/banner.jpg" alt="" />
    </div>

    <a href="#" class="logo logo-tablet" data-i18n="logo.alt" data-i18n-attr="aria-label">
      <img src="assets/images/Oceanus.svg" alt="" />
      <span class="logo__name" data-i18n="logo.slogan"></span>
    </a>
  </div>
</header>
<!-- HEADER END -->
