<!-- NAVIGATION START -->
<nav class="navigation" role="navigation">
  <div class="container">
    <!-- LOGO -->
    <a id="lp-nav" href="#" class="logo" data-i18n="logo.alt" data-i18n-attr="aria-label">
      <img src="assets/images/Oceanus.svg" alt="" />
      <span class="logo__name" data-i18n="logo.slogan"></span>
    </a>

    <div class="navigation__right">
      <!-- SOCIALS -->
      <ul class="socials">
        <li class="social">
          <a href="https://www.twitter.com" target="_blank" rel="noopener" data-i18n-attr="aria-label" data-i18n="navigation.social.twitter.alt">
            <i class="fa-brands fa-twitter" aria-hidden="true"></i>
          </a>
        </li>

        <li class="social">
          <a href="https://www.linkedin.com" target="_blank" rel="noopener" data-i18n-attr="aria-label" data-i18n="navigation.social.linkedin.alt">
            <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
          </a>
        </li>

        <li class="social">
          <a href="https://www.instagram.com" target="_blank" rel="noopener" data-i18n-attr="aria-label" data-i18n="navigation.social.instagram.alt">
            <i class="fa-brands fa-instagram" aria-hidden="true"></i>
          </a>
        </li>

        <li class="social">
          <a href="https://www.youtube.com" target="_blank" rel="noopener" data-i18n-attr="aria-label" data-i18n="navigation.social.youtube.alt">
            <i class="fa-brands fa-youtube" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

      <!-- LANGUAGES -->
      <ul class="languages">
        <li data-i18n-attr="class" data-i18n="navigation.lang.fr.class" class="lang">
          <a href="#" data-i18n="navigation.lang.fr.current navigation.lang.fr.alt" data-i18n-attr="aria-current aria-label"> fr </a>
        </li>

        <li class="separator" aria-hidden="true">|</li>

        <li data-i18n-attr="class" data-i18n="navigation.lang.en.class" class="lang">
          <a href="#" data-i18n="navigation.lang.en.current navigation.lang.en.alt" data-i18n-attr="aria-current aria-label"> en </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVIGATION END -->
