<!-- SKIP LINKS START -->
<div id="skip-links" role="application">
  <ul>
    <!-- Nav Link -->
    <li>
      <a
        href="#lp-nav"
        class="skip-link sr-only show-on-focus"
        data-i18n="skip-link.nav.label skip-link.nav.text"
        data-i18n-attr="aria-label innerHTML"
      >
      </a>
    </li>

    <!-- Content Link -->
    <li>
      <a
        href="#lp-content"
        class="skip-link sr-only show-on-focus"
        data-i18n="skip-link.content.label skip-link.content.text"
        data-i18n-attr="aria-label innerHTML"
      >
      </a>
    </li>
  </ul>
</div>
<!-- SKIP LINKS END -->
