@use '../../theme' as *;
@use '../../utilities' as *;

section {
  padding-block: rem(100);

  @include mq($ps-tablet) {
    padding-block: rem(70);
  }

  @include mq($ps-mobile) {
    padding-block: rem(40);
  }

  @include not-support('padding-block: 10vh') {
    padding-top: rem(100);
    padding-bottom: rem(100);

    @include mq($ps-tablet) {
      padding-top: rem(70);
      padding-bottom: rem(70);
    }

    @include mq($ps-mobile) {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }

  .container {
    --max-width: #{rem(1380px)};

    @include mq($ps-tablet) {
      --max-width: 100%;
    }
  }
}
